<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PowerPlants</title>
    <link rel="stylesheet" href="/css/foundation.css">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawStuff);

      function drawStuff() {
        var data = new google.visualization.arrayToDataTable([
            ['Total capacity', 'Fuel type'],
            "%%TOTAL_CAPACITY%%"
        ]);

        var options = {
          title: 'Total capacity by fuel type',
          height: "%%HEIGHT%%",
          legend: { position: 'none' },
          chart: { title: 'Total capacity by fuel type'},
          bars: 'horizontal', // Required for Material Bar Charts.
          axes: {
            x: {
              0: { side: 'top', label: 'Total capacity in MW'} // Top x-axis.
            }
          },
          bar: { groupWidth: "90%" }
        };

        var chart = new google.charts.Bar(document.getElementById('top_x_div'));
        chart.draw(data, options);
      };
    </script>
</head>
<body>
    <h1>Powerplant Data</h1>
    <div id="content">
        
        
        <div class="grid-x grid-padding-x">
            <div class="dropdown">
            <button class="dropbtn">Sort by a Fuel Type</button>
                <div class="dropdown-content" size="4">
                    <a href="/fuel/Gas">Gas</a>
                    <a href="/fuel/Oil">Oil</a>
                    <a href="/fuel/Coal">Coal</a>
                    <a href="/fuel/Petcoke">Petcoke</a>
                    <a href="/fuel/Geothermal">Geothermal</a>
                    <a href="/fuel/Hydro">Hydro</a>
                    <a href="/fuel/Nuclear">Nuclear</a>
                    <a href="/fuel/Solar">Solar</a>
                    <a href="/fuel/Wind">Wind</a>
                    <a href="/fuel/Waste">Waste</a>
                    <a href="/fuel/Biomass">Biomass</a>
                    <a href="/fuel/Wave and Tidal">Wave and Tidal</a>
                    <a href="/fuel/Storage">Storage</a>
                    <a href="/fuel/Cogeneration">Cogeneration</a>
                    <a href="/fuel/Other">Other</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Sort by a Country</button>
                    <div class="dropdown-content">
                        %%COUNTRY_OPTIONS%%
                    </div>
            </div>
            <p id="capacity-text">Sort by a Capacity Greater Than:</p>
            <input type="text" placeholder="Capacity" id="cap-entry"/>
            <input type="submit" id="sub-button" onclick="redirect()">
            <script>
                function redirect() {
                    let cap = '/capacity/'+document.getElementById('cap-entry').value;
                    window.location.href=cap;
                }
            </script>

            <!-- Back Button -->
            <button type="button" hidden class ="dropbtn" id="sub-button" onclick="PREV()"> Previous </button>
            <script>
                function PREV() {
                    // Basically looks at the url to determine fuel or country, then will loop -1 or +1
                    let loc = window.location.href;
                    let splitEr = loc.split('/');
                    let urlType = splitEr[3];
                    let newUrl = ''

                    // Correctly identifying the two types
                    if( urlType == "fuel"){
                        var gasList = ["Gas","Oil","Coal","Petcoke","Geothermal","Hydro","Nuclear","Solar","Wind","Waste","Biomass",
                                        "Wave and Tidal","Storage","Cogeneration","Other"];
                        var gasIndex = 0;
                        //Special handling for Wind and tidal, as it comes out Wave%20and%20Tidal
                        if(splitEr[4] == 'Wave%20and%20Tidal'){
                            gasIndex = 11;
                        }else{

                            for(let i = 0; i<gasList.length; i++){
                                if(gasList[i] == splitEr[4]){
                                    gasIndex = i;
                                    i = gasList.length;
                                }
                            }
                        }
                        //if at front, wrap around
                        if(gasIndex == 0){
                            gasIndex = gasList.length-1;
                        }else{
                            gasIndex = gasIndex - 1;
                        }
                        newUrl = '/' + urlType +'/' + gasList[gasIndex];
                    }else if(urlType == "country"){
                        var conList = ["AFG","AGO","ALB","ARE","ARG","ARM","ATA","AUS","AUT","AZE","BDI","BEL","BEN",
                                        "BFA","BGD","BGR","BHR","BIH","BLR","BOL","BRA","BRN","BTN","BWA","CAF","CAN","CHE","CHL","CHN",
                                        "CIV","CMR","COD","COG","COL","CPV","CRI","CUB","CYP","CZE","DEU","DJI","DNK","DOM","DZA","ECU",
                                        "EGY","ERI","ESH","ESP","EST","ETH","FIN","FJI","FRA","GAB","GBR","GEO","GHA","GIN","GMB","GNB",
                                        "GNQ","GRC","GTM","GUF","GUY","HND","HRV","HUN","IDN","IND","IRL","IRN","IRQ","ISL","ISR","ITA",
                                        "JAM","JOR","JPN","KAZ","KEN","KGZ","KHM","KOR","KOS","KWT","LAO","LBN","LBR","LBY","LCA","LKA",
                                        "LSO","LTU","LUX","LVA","MAR","MDA","MDG","MEX","MKD","MLI","MMR","MNE","MNG","MOZ","MRT","MUS",
                                        "MWI","MYS","NAM","NER","NGA","NIC","NLD","NOR","NPL","NZL","OMN","PAK","PAN","PER","PHL","PNG",
                                        "POL","PRK","PRT","PRY","PSE","QAT","ROU","RUS","RWA","SAU","SDN","SEN","SGP","SLE","SLV","SRB",
                                        "SUR","SVK","SVN","SWE","SWZ","SYR","TGO","THA","TJK","TKM","TTO","TUN","TUR","TWN","TZA","UGA",
                                        "UKR","URY","USA","UZB","VEN","VNM","YEM","ZAF","ZMB","ZWE"];
                        var conIndex = 0;
                        for(let i = 0; i<conList.length; i++){
                            if(conList[i] == splitEr[4]){
                                conIndex = i;
                                i = conList.length;
                            }
                        }
                        // if at front, wrap around
                        if(conIndex == 0){
                            conIndex = conList.length-1;
                        }else{
                            conIndex = conIndex - 1;
                        }  
                        newUrl = '/' + urlType + '/' + conList[conIndex]; 
                    }else{
                        newUrl = '/404'
                    }
                    window.location.href = newUrl;
                }
            </script>  

            <!-- Forwards Button -->
            <button type="button" hidden class ="dropbtn" id="sub-button" onclick="NEXT()">Next</button>
            <script>
                function NEXT() {
                    // Basically looks at the url to determine fuel or country, then will loop -1 or +1
                    let loc = window.location.href;
                    let splitEr = loc.split('/');
                    let urlType = splitEr[3];
                    let newUrl = ''
                    // Correctly identifying the two types
                    if( urlType == "fuel"){
                        var gasList = ["Gas","Oil","Coal","Petcoke","Geothermal","Hydro","Nuclear","Solar","Wind","Waste","Biomass",
                                        "Wave and Tidal","Storage","Cogeneration","Other"];
                        var gasIndex = 0;
                        //Special handling for Wind and tidal, as it comes out Wave%20and%20Tidal
                        if(splitEr[4] == 'Wave%20and%20Tidal'){
                            // Wind and tidal is [10], 10+1 = 11
                            gasIndex = 11;
                        }else{
                            for(let i = 0; i<gasList.length; i++){
                                if(gasList[i] == splitEr[4]){
                                    gasIndex = i;
                                    i = gasList.length;
                                }
                            }
                        }
                        //if at end, wrap around
                        if(gasIndex == gasList.length-1){
                            gasIndex = 0;
                        }else{
                            gasIndex = gasIndex + 1;
                        }
                        newUrl = '/' + urlType +'/' + gasList[gasIndex];
                    }else if(urlType == "country"){
                        var conList = ["AFG","AGO","ALB","ARE","ARG","ARM","ATA","AUS","AUT","AZE","BDI","BEL","BEN",
                                        "BFA","BGD","BGR","BHR","BIH","BLR","BOL","BRA","BRN","BTN","BWA","CAF","CAN","CHE","CHL","CHN",
                                        "CIV","CMR","COD","COG","COL","CPV","CRI","CUB","CYP","CZE","DEU","DJI","DNK","DOM","DZA","ECU",
                                        "EGY","ERI","ESH","ESP","EST","ETH","FIN","FJI","FRA","GAB","GBR","GEO","GHA","GIN","GMB","GNB",
                                        "GNQ","GRC","GTM","GUF","GUY","HND","HRV","HUN","IDN","IND","IRL","IRN","IRQ","ISL","ISR","ITA",
                                        "JAM","JOR","JPN","KAZ","KEN","KGZ","KHM","KOR","KOS","KWT","LAO","LBN","LBR","LBY","LCA","LKA",
                                        "LSO","LTU","LUX","LVA","MAR","MDA","MDG","MEX","MKD","MLI","MMR","MNE","MNG","MOZ","MRT","MUS",
                                        "MWI","MYS","NAM","NER","NGA","NIC","NLD","NOR","NPL","NZL","OMN","PAK","PAN","PER","PHL","PNG",
                                        "POL","PRK","PRT","PRY","PSE","QAT","ROU","RUS","RWA","SAU","SDN","SEN","SGP","SLE","SLV","SRB",
                                        "SUR","SVK","SVN","SWE","SWZ","SYR","TGO","THA","TJK","TKM","TTO","TUN","TUR","TWN","TZA","UGA",
                                        "UKR","URY","USA","UZB","VEN","VNM","YEM","ZAF","ZMB","ZWE"];
                        var conIndex = 0;
                        for(let i = 0; i<conList.length; i++){
                            if(conList[i] == splitEr[4]){
                                conIndex = i;
                                i = conList.length;
                            }
                        }
                        // if at end, wrap around
                        if(conIndex == conList.length-1){
                            conIndex = 0;
                        }else{
                            conIndex = conIndex + 1;
                        }  
                        newUrl = '/' + urlType + '/' + conList[conIndex]; 
                    }else{
                        newUrl = '/404'
                    }
                    window.location.href = newUrl;
                }
                </script>
                <div>
                    <img src="%%SYMBOL%%" alt="%%SYMBOL_ALT%%" id="symbol"> 
                </div>
        </div>
        
        <div class="clear"></div>
        <div id="top_x_div" width></div>
        <div class="'clear"></div>
        <table>
            <thead>
                <tr>
                    <th class="Powerplant_name">Powerplant</th>
                    <th>Country</th>
                    <th>Capacity</th>
                    <th>Generation Gwh 2013</th>
                    <th>Generation Gwh 2014</th>
                    <th>Generation Gwh 2015</th>
                    <th>Generation Gwh 2016</th>
                    <th>Generation Gwh 2017</th>
                    <th>Generation Gwh 2018</th>
                    <th>Generation Gwh 2019</th>
                    <th>Fuel Type</th>
                    <th>URL</th>
                </tr>
            </thead>
            <tbody>
                %%PLANT_INFO%%
            </tbody>
        </table>
    </div>
</body>
</html>