<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Powerplants</title>
    <link rel="stylesheet" href="/css/foundation.css">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawStuff);

      function drawStuff() {
        var data = new google.visualization.arrayToDataTable([
            ['Total capacity', 'Fuel type'],
            %%TOTAL_CAPACITY%%
        ]);

        var options = {
          title: 'Total capacity by fuel type',
          height: %%HEIGHT%%,
          legend: { position: 'none' },
          chart: { title: 'Total capacity by fuel type'},
          bars: 'horizontal', // Required for Material Bar Charts.
          axes: {
            x: {
              0: { side: 'top', label: 'Total capacity in MW'} // Top x-axis.
            }
          },
          bar: { groupWidth: "90%" }
        };

        var chart = new google.charts.Bar(document.getElementById('top_x_div'));
        chart.draw(data, options);
      };
    </script>
</head>
<body>
    <h1>Powerplant Data</h1>
    <div id="content">
        
        
        <div class="grid-x grid-padding-x">
            <div class="dropdown">
            <button class="dropbtn">Sort by a Fuel Type</button>
                <div class="dropdown-content" size="4">
                    <a href="/fuel/Gas">Gas</a>
                    <a href="/fuel/Oil">Oil</a>
                    <a href="/fuel/Coal">Coal</a>
                    <a href="/fuel/Petcoke">Petcoke</a>
                    <a href="/fuel/Geothermal">Geothermal</a>
                    <a href="/fuel/Hydro">Hydro</a>
                    <a href="/fuel/Nuclear">Nuclear</a>
                    <a href="/fuel/Solar">Solar</a>
                    <a href="/fuel/Wind">Wind</a>
                    <a href="/fuel/Waste">Waste</a>
                    <a href="/fuel/Biomass">Biomass</a>
                    <a href="/fuel/Wave and Tidal">Wave and Tidal</a>
                    <a href="/fuel/Storage">Storage</a>
                    <a href="/fuel/Cogeneration">Cogeneration</a>
                    <a href="/fuel/Other">Other</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Sort by a Country</button>
                    <div class="dropdown-content">
                        %%COUNTRY_OPTIONS%%
                    </div>
                </div>
                <p id="capacity-text">Sort by a Capacity Greater Than:</p>
                <input type="text" placeholder="Capacity" id="cap-entry"/>
                <input type="submit" id="sub-button" onclick="redirect()">
                <script>
                    function redirect() {
                        let cap = '/capacity/'+document.getElementById('cap-entry').value;
                        window.location.href=cap;
                    }
                </script>

                <div>
                    <img src="%%SYMBOL%%" alt="%%SYMBOL_ALT%%" id="symbol"> 
                </div>
        </div>
        <div class="clear"></div>
        <div id="top_x_div" width></div>
        <div class="'clear"></div>
        <table>
            <thead>
                <tr>
                    <th class="Powerplant_name">Powerplant</th>
                    <th>Country</th>
                    <th>Capacity</th>
                    <th>Generation Gwh 2013</th>
                    <th>Generation Gwh 2014</th>
                    <th>Generation Gwh 2015</th>
                    <th>Generation Gwh 2016</th>
                    <th>Generation Gwh 2017</th>
                    <th>Generation Gwh 2018</th>
                    <th>Generation Gwh 2019</th>
                    <th>Fuel Type</th>
                    <th>URL</th>
                </tr>
            </thead>
            <tbody>
                %%PLANT_INFO%%
            </tbody>
        </table>
    </div>
</body>
</html>
